<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">
    <h1>Medidas de autoprotección:</h1>
    Recomendaciones para la autoprotección y modos de evitar incidentes para mujeres víctimas de violencia:
    </div>
  <p class="texto-interno">Si eres víctima de violencia en la casa, trabajo, centro educativo y/o deportivo, calle, centro de privación de libertad, o por situaciones de desastres naturales o migración, deber proteger tu integridad y la de tu familia.
    Lea atentamente las siguientes recomendaciones y no dude en preguntar al/la servidor/a policial todo aquello que no entienda.
    . </p>
    <p class="texto-interno">
     <b>Recomendaciones generales:</b> 
    </p>

     <h3>Recomendaciones generales</h3>
     <ul>
       <li>Si tiene medidas de protección, lleve consigo una copia del documento que las establece. Será muy útil en una primera intervención en el momento que requieras el auxilio de la Policía.</li>
       <li>Tenga los números de emergencia a mano, y en el teléfono celular los primeros en la agenda, para utilizarlos en caso de intento de agresión. Al realizar la llamada hágalo identificándose y especificando el lugar en el que se encuentra.</li>
       <li>Si judicialmente se prohíbe al agresor aproximarse a su domicilio, no le permitan el acceso al mismo.</li>
       <li>Cambie los números de teléfono celular, para que no sean conocidos por su agresor.</li>
       <li>No responda a llamadas de teléfono con identidad oculta o desconocidas.</li>
       <li>Desactive sus redes sociales.</li>
       <li>No conteste a sus intentos de contacto mediante teléfono, correo electrónico o terceras personas y comunique a la Policía Nacional.</li>
       <li>No borre los mensajes amenazantes o no que envíe el agresor, ya que podría servir como prueba del incumplimiento de las medidas de protección.</li>
       <li>Evite caminar por lugares en los que haya poca gente, o lugares que frecuente el agresor.</li>
       <li>Intente cambiar sus rutinas dentro de lo posible.</li>
       <li>Preste atención a las salidas y entradas al domicilio y al lugar del trabajo.</li>
       <li>Trate de ir siempre acompañada en la medida de lo posible.</li>
       <li>En caso de tener noticias de que el agresor le ha localizado, póngase en contacto con la Policía Nacional del UPC o UVC más cercano.</li>
       <li>Si ha cambiado de domicilio evite dar datos a personas que no sean de total confianza.</li>
       <li>No proporcione información sobre su paradero al agresor o a personas cercanas a él.</li>
       <li>Cuéntele su situación a una persona de confianza de su entorno familiar, amigos o vecinos.</li>
       <li>Acuerde con sus vecinos de confianza alguna señal para que llamen a la Policía cuando necesites ayuda.</li>
       <li>Si sus hijos/as menores de edad han sido víctimas de violencia, comunique al servidor/a policial o acérquese a la UPC o UVC más cercana.</li>
     </ul>
   
     <h3>Documentación importante</h3>
     <p>Tenga siempre a la mano una copia de la siguiente documentación en caso de salir de su domicilio inesperadamente:</p>
     <ul>
       <li>Cédula de Identidad, Pasaporte.</li>
       <li>Dinero en efectivo.</li>
       <li>Llaves de la vivienda.</li>
       <li>Contrato de alquiler de la vivienda o escrituras de propiedad.</li>
       <li>Documentos o informes médicos.</li>
       <li>Medicamentos habituales.</li>
     </ul>
   
     <h3>Recomendaciones en caso de existir hijos en común</h3>
     <ul>
       <li>Enseñe a sus hijos a pedir ayuda y a protegerse, que no abran la puerta ni den datos por celular.</li>
       <li>Enseñe a sus hijos a pedir ayuda al ECU 911 y activación del Botón de seguridad.</li>
       <li>Informe a los profesores/as y responsables del colegio por escrito quién tiene permiso para recoger a sus hijos.</li>
       <li>Cuando deba hacer efectivo el régimen de visitas y entregar a sus hijos al padre, procure ir siempre acompañada de personas de confianza o que se encarguen éstas.</li>
     </ul>
   
     <h3>Adaptación del domicilio</h3>
     <ul>
       <li>Si vive en el domicilio habitual, cambie la cerradura.</li>
       <li>Acondicione en su domicilio una habitación con cerrojo para evitar la agresión y llamar al ECU 911 y/o Botón de Seguridad.</li>
       <li>Retire cuchillos, armas y objetos peligrosos que el agresor pudiera utilizar para agredirle.</li>
     </ul>
   
     <h3>Recomendaciones en caso de agresión</h3>
     <ul>
       <li>Intente colocarse cerca de la puerta para que pueda salir inmediatamente.</li>
       <li>Evite estar en zonas de la casa donde haya objetos peligrosos.</li>
       <li>Si es en la vía pública grite y haga todo el ruido posible para pedir ayuda, y busque un lugar donde haya gente que pueda ayudarla.</li>
       <li>Después de la agresión, busque un lugar seguro, y espere la llegada de los organismos de emergencia y seguridad.</li>
     </ul>
   
     <h4>Importante después de una agresión sexual:</h4>
     <ul>
       <li>Evite lavarse o cambiarse de ropa para no destruir pruebas.</li>
       <li>Evite tocar nada del lugar donde se ha producido para conservar las pruebas.</li>
       <li>No dude en acudir a presentar la denuncia en las Unidades Judiciales, Fiscalía. Sea lo más detallada posible:</li>
       <ul>
         <li>Identificar al agresor.</li>
         <li>Exponer cómo se produjo la agresión.</li>
         <li>Incluir la fecha, hora, lugar y testigos si los hay.</li>
         <li>Hacer constar textualmente insultos, amenazas, humillaciones.</li>
         <li>Mencionar agresiones anteriores o denuncias previas.</li>
         <li>No omitir detalles relevantes.</li>
       </ul>
     </ul>
   
   
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/menu12">VOLVER</div>
  </div>
</div>
</ion-content>

